<div>
    {{#each this}}
    <h3>
        <a href="products/{{id}}">{{product_name}}</a>
    </h3>
    <ul>
        <li>Price: ${{price}}</li>
        <li>Quantity: {{stock}}</li>
    </ul>
    {{/each}}
</div>