<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simad</title>
</head>
<body>
    <header class="hero">
        <div>
            <nav class="nav">
                <a href="/vehicle" class="link">Vehicle</a>
                <a href="/make" class="link">Make</a>
                <a href="/user" class="link">User</a>
            </nav>
        </div>
    </header>
    {{body}}
</body>
</html>