<div class="container mt-4">
    <div class="d-flex flex-row justify-content-center">
        <form id="adduser-form">
            <h3 class="text-dark">Add Victor's Dealership Employee</h3>
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="first-adduser">First Name:</label>
                <input type="text" class="form-control" id="first-adduser" />
            </div>
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="last-adduser">Last Name:</label>
                <input type="text" class="form-control" id="last-adduser" />
            </div>
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="role-adduser">Role:</label>
                <select class="form-control" id="roles">
                    <option value="Admin">Admin</option>
                    <option value="Manager">Sales Manager</option>
                    <option value="Director">Director</option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="email-signup">Email:</label>
                <input type="email" class="form-control" id="email-adduser" />
            </div>
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="password-adduser">Password:</label>
                <input type="password" class="form-control" id="password-adduser" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Add User</button>
            </div>
        </form>
   
<script src="/javascript/add-user.js"></script>