<div class="container mt-4">
    <div class="d-flex flex-row justify-content-center">
        <form class="new-vehicle-form">
            <div class="form-group">
                <label class="text-dark font-weight-bold" for="vehicle-name">New Vehicle Type Name:</label>
                <input type="text" class="form-control" id="vehicle-name" name="vehicle-name" />
            </div>
            <button type="submit" class="btn btn-success">Create Vehicle Type</button>
        </form>
    </div>
</div>


<script src="/javascript/add-vehicle.js"></script>