<form class="new-product-form">
    <div>
        <label for="product-make">New Make:</label>
        <input type="text" id="product-make" name="product-make" />
    </div>
    <div>
        <label for="product-model">New Model:</label>
        <input type="text" id="product-model" name="product-model" />
    </div>
    <div>
        <label for="product-year">New Year:</label>
        <input type="text" id="product-year" name="product-year" />
    </div>
    <div>
        <label for="product-vehicle">New Vehicle Type:</label>
        <select id="product-vehicle">
            {{#each vehicles}}
            <option name="product-vehicle" value={{id}}>{{vehicle_name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Create New Product</button>
</form>

<script src="/javascript/add-product.js"></script>