<form class="new-category-form">
    <div>
        <label for="category-name">New Category Name:</label>
        <input type="text" id="category-name" name="category-name" />
    </div>
    <button type="submit">Create Category</button>
</form>

<script src="/javascript/add-category.js"></script>