<form class="new-vehicle-form">
    <div class="form-group">
        <label for="vehicle-name">New Vehicle Name:</label>
        <input type="text" class="form-control" id="vehicle-name" name="vehicle-name" />
    </div>
    <button type="submit" class="btn btn-success">Create Vehicle Type</button>
</form>

<script src="/javascript/add-vehicle.js"></script>