<div class="container mt-4">
    <div class="d-flex flex-row justify-content-center">
        <form class="new-product-form">
            <div class="form-group my-2">
                <label class="text-dark font-weight-bold" for="product-make">New Make:</label>
                <input type="text" class="form-control" id="product-make" name="product-make" />
            </div>
            <div "form-group my-2">
                <label class="text-dark font-weight-bold" for="product-model">New Model:</label>
                <input type="text" class="form-control" id="product-model" name="product-model" />
            </div>
            <div "form-group my-2">
                <label class="text-dark font-weight-bold" for="product-year">New Year:</label>
                <input type="text" class="form-control" id="product-year" name="product-year" />
            </div>
            <div "form-group my-2">
                <label class="text-dark font-weight-bold" for="product-vehicle">New Vehicle Type:</label>
                <select class="form-control" id="product-vehicle">
                    {{#each vehicles}}
                    <option name="product-vehicle" value={{id}}>{{vehicle_name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-success mt-3">Create New Product</button>
        </form>
    </div>
</div>
<script src="/javascript/add-product.js"></script>