<div>
    <form id="adduser-form">
        <h3>Add Simon Auto Employee</h3>
        <div>
            <label for="first-adduser">First Name:</label>
            <input type="text" id="first-adduser" />
        </div>
        <div>
            <label for="last-adduser">Last Name:</label>
            <input type="text" id="last-adduser" />
        </div>
        <div>
            <label for="role-adduser">Role:</label>
            <select id="roles">
                <option value="Admin">Admin</option>
                <option value="Manager">Sales Manager</option>
                <option value="Director">Director</option>
            </select>
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-adduser" />
        </div>
        <div>
            <label for="password-adduser">Password:</label>
            <input type="password" id="password-adduser" />
        </div>
        <div>
            <button type="submit">Add User</button>
        </div>
    </form>
</div>
<script src="/javascript/add-user.js"></script>