<form class="new-vehicle-form">
    <div>
        <label for="vehicle-name">New Vehicle Name:</label>
        <input type="text" id="vehicle-name" name="vehicle-name" />
    </div>
    <button type="submit">Create Vehicle</button>
</form>

<script src="/javascript/add-vehicle.js"></script>