<section>
    {{#if roleDirector}}
    <a href="/dashboard/add-category"> Create a New Category</a>
    <a href="/dashboard/add-product"> Create a New Product</a>
    {{/if}}
    <ol>
        {{#each categories}}
        <li>
            <article>
                <div>
                    <a>{{category_name}}</a>
                </div>
                <div>
                    <a href="/products/{{id}}">{{products.length}} product(s)</a>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>