<section>
    {{#if roleDirector}}
    <a href="/dashboard/add-category"> Create a New Category</a>
    <a href="/dashboard/add-product"> Create a New Product</a>
    {{/if}}
    <p>Categories Here</p>
</section>