<section>
    {{#if roleDirector}}
    <a href="/dashboard/add-vehicle"> Create a New Vehicle</a>
    <a href="/dashboard/add-product"> Create a New Product</a>
    {{/if}}
    <ol>
        {{#each vehicles}}
        <li>
            <article>
                <div>
                    <a href="dashboard/vehicles/{{id}}">{{vehicle_name}}</a>
                </div>
                <div>
                    <p>{{Products.length}} - {{vehicle_name}}(s)</p>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>