<div>
    <h2>Edit Vehicle Type</h2>
    <form id="edit-vehicle-form">
        <div class="form-group">
            <label for="vehicle-name">Edit Vehicle Name:</label>
            <input class="form-contorl" name="vehicle-name" type="text" value="{{vehicle.vehicle_name}}" />
        </div>
        <button class="btn btn-warning" type="submit">Submit Change to Vehicle Name</button>
    </form>
    <button class="btn btn-danger" id="delete-vehicle-btn" type="submit">Delete Vehicle</button>

</div>

<script src="/javascript/edit-vehicle.js"></script>
<script src="/javascript/delete-vehicle.js"></script>