<div>
    <h2>Edit Category</h2>
    <form id="edit-category-form">
        <div>
            <label for="category-name">Edit Category Name:</label>
            <input name="category-name" type="text" value="{{category.category_name}}" />
        </div>
        <button type="submit">Submit Change to Category Name</button>
    </form>
    <button id="delete-category-btn" type="submit">Delete Category</button>

</div>

<script src="/javascript/edit-category.js"></script>
<script src="/javascript/delete-category.js"></script>