<div>
    <h2>Edit Product</h2>
    <form id="edit-product-form">
        <div>
            <label for="product-year">Edit Product Year:</label>
            <input name="product-year" type="text" value="{{product.year}}" />
        </div>
        <div>
            <label for="product-make">Edit Product Make:</label>
            <input name="product-make" type="text" value="{{product.make}}" />
        </div>
        <div>
            <label for="product-model">Edit Product Model:</label>
            <input name="product-model" type="text" value="{{product.model}}" />
        </div>
        <button type="submit">Submit Change to Product</button>
    </form>
    
    <button id="delete-product-btn" type="submit">Delete Product</button>

</div>

<script src="/javascript/edit-product.js"></script>
<script src="/javascript/delete-product.js"></script>