<div class="row">
    <div class="col-lg-6 col-sm-6 d-flex align-content-center justify-content-center ">
        <form class="login-form">
            <h1 class="mb-10 mt-10 text-white">SIGN IN</h1>
            <div class="form-group my-1">
                <label class="text-white" for="email-login">Email:</label>
                <input type="email" class="form-control" id="email-login" />
            </div>
            <div class="form-group my-1">
                <label class="text-white" for="password-login">Password:</label>
                <input type="password" class="form-control" id="password-login" />
            </div>
            <div class="form-group my-1">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>



<script src="/javascript/login.js"></script>