<form class="login-form">
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input type="email" class="form-control" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input type="password" class="form-control" id="password-login" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>