<div>
    {{#if roleDirector }}
    <a href="/dashboard/products/edit/{{{product.id}}}">Edit This Product</a>
    {{/if}}
    <ul>
        <li>Year: {{product.year}}</li>
        <li>Make: {{product.make}}</li>
        <li>Model: {{product.model}}</li>
    </ul>
</div>